<body>
    <div class="container">
        <div class="horizontal-theme w-100">
            <h1 class="theme-title"> Clinic Office Management System</h1>
            <div class="theme-text">An application for managing records of patients,
                their medical history and managing appointmets in the clinic centre.
                <ul>
                    <li>Register new patients for the clinic</li>
                    <li>Keep records of patients' prescriptions and their medical history</li>
                    <li>Update or delete patients' entries</li>
                    <li>Create appointments for patients</li>
                    <li>Edit appointment details or delete appointments</li>
                </ul>
            </div>
        </div>
    </div>
</body>