.horizontal-theme {
    margin-top: 3%;
    height: fit-content;
    background-color: rgb(6, 165, 6);
    background: linear-gradient(to left, rgb(53, 180, 53), rgb(16, 160, 16), rgb(0, 128, 0));
    box-shadow: 2px 2px #147c20;
    border-radius: 1%;
}

.theme-title {
    color: aliceblue;
    padding-left: 8%;
    padding-top: 3%;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 1px 2px #117d1e;
}

.theme-text {
    color: aliceblue;
    position: relative;
    margin-left: 13%;
    padding-bottom: 2%;
    margin-right: 10%;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    text-shadow: 1px 2px #117d1e;
}

.patients-title {
    text-align: left;
    color: rgb(88, 86, 86);
}

button[type=button] {
    width: auto;
}