<div class="container mt-4">
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <div class="spinner" *ngIf="isLoading">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <div class="alert alert-danger" *ngIf="errorMessage && !isLoading">{{ errorMessage }}</div>
            <form id="log-in" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" *ngIf="!isLoading">
                <div class="px-5 py-3 form-content">
                    <legend>Log in</legend>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="username" ngModel required>

                    <label for="_password" class="form-label">Password</label>
                    <input type="password" name="_password" class="form-control" placeholder="password" ngModel required
                        minlength="6">
                    <button class="btn btn-primary mt-3 w-50" type="submit" [disabled]="!loginForm.valid">Log
                        in</button>

                </div>
            </form>
        </div>
    </div>
</div>