.navbar {
    background-color: rgb(160, 213, 253);
}

.nav-item {
    background-color: rgb(111, 184, 240);
    border-radius: 10%;
    display: inline-block !important;
    width: auto !important;
}

.dropdown-menu {
    background-color: rgb(111, 184, 240);
}

.dropdown-item {
    background-color: rgb(111, 184, 240);
}

.navbar-nav {
    width: auto !important;
    /* Prevents `<ul>` from stretching */
    justify-content: flex-end;
    /* Align items properly */
}

.nav-link.btn {
    display: inline-block !important;
    /* Prevents full width */
    width: auto !important;
    /* Makes button size match text */
}

.dropdown-item:hover {
    background-color: rgb(59, 162, 241);
}

#btn-dropdown,
.home-button {
    background-color: rgb(111, 184, 240);
}

.nav-item :hover {
    background-color: rgb(89, 177, 245);
}

.dropdown-item:active,
.dropdown-item:focus {
    color: rgb(0, 0, 0) !important;
}

.home-button:active,
.home-button:focus {
    background-color: rgb(89, 177, 245) !important;
}

@media (max-width: 990px) {
    .nav-item {
        margin-top: 1%;
        width: 15% !important;
    }
}

@media (max-width: 990px) {

    #btn-dropdown,
    .home-button {
        margin-top: 1%;
    }
}

@media (max-width: 768px) {
    .nav-item {
        min-width: 120px;
    }
}