/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fc-button {
    background-color: #0f5bff !important;
}

.fc-toolbar-title {
    color: #2b1b76;
    margin: 0 12px;
}

.fc-event.appointment-event {
    background-color: #0f5bff !important;
    /* Blue */
    border: none;
    color: white;
}