.patient-view {
    min-height: 100vh;
    background: linear-gradient(to right,
            rgb(242, 244, 252),
            rgb(224, 229, 250), rgb(214, 216, 250));
    margin: 0;
}

.patient-table {
    margin-top: 2%;
}

.patient-table th,
.patient-table td {
    padding: 0.7rem 0;
}

table td {
    font-size: larger;
}

.patient-table th {
    padding-right: 4rem;
}

h3 {
    margin-top: 2%;
}

.prescriptions {
    display: flex;
    margin-top: 1%;
    gap: 13rem;
}

.prescriptions-button button {
    width: 11rem;
}

.history-wrapper {
    margin-top: 4%;
    margin-left: 8%;
    background-color: white;
    border-radius: 10px;
}

.history-text {
    margin-top: 2%;
}

#back {
    width: fit-content;
    margin-left: 7%;
    margin-top: 1%;
    margin-bottom: 0.5rem;
}

.prescriptions-button {
    margin-left: 6%;
}

.prescription-table tr td,
thead th {
    background-color: rgb(242, 244, 252);
}

.prescription-table th,
.prescription-table td {
    width: 300px;
    text-align: left;
    height: 100px;
    padding: 0.5rem;
}

.prescription-table td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}