.appointments-view {
    min-height: 100vh;
    background: linear-gradient(to right,
            rgb(242, 244, 252),
            rgb(224, 229, 250), rgb(214, 216, 250));
    margin: 0;
}

caption {
    font-weight: 600 !important;
}

table {
    width: 70%;
    box-shadow: 0 3px 10px rgb(10, 80, 123);
    border-radius: 10px;
    margin-left: 15%;
}

#back {
    width: fit-content;
    margin-left: 15%;
}

.spinner {
    text-align: center;
}

.table-buttons {
    margin-right: 2%;
    background-color: rgb(200, 236, 249);
}

.table-buttons:hover {
    background-color: rgb(153, 222, 248);
}

table thead tr th:first-child {
    border-top-left-radius: 10px;
}

table thead tr th:last-child {
    border-top-right-radius: 10px;
}

table th {
    background-color: rgb(180, 231, 250);
}

@media (max-width: 1140px) {
    .table-buttons {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 681px) {
    .hide-on-small {
        display: none;
    }
}